(
    id: (1),
    name: "asdfasdf",
    next_node_id: 3,
    root_node_id: 2,
    nodes: [
        (
            node_id: 2,
            parent_node_id: None,
            components: [
                (
                    type_name: "Transform",
                    ron: "(visible:true,position:(0.0,0.0),pivot:BottomCenter)",
                ),
                (
                    type_name: "Name",
                    ron: "(\"Entity\")",
                ),
            ],
        ),
    ],
)