(
    variants: [
        (
            id: "default",
            tilemap: (
                width: 16,
                height: 9,
                background: (0.78, 0.78, 0.78, 1.0),
            ),
        ),
    ],
    entities: [
        (41),
        (47),
        (52),
        (58),
        (59),
        (62),
    ],
    darkness: 0.0,
)