(
    variants: [
        (
            id: "default",
            tilemap: (
                width: 16,
                height: 9,
                background: (0.78, 0.78, 0.78, 1.0),
            ),
        ),
    ],
    entities: [
        (76),
        (77),
        (78),
        (79),
        (80),
    ],
    darkness: 0.0,
)