(
    variants: [
        (
            id: "default",
            tilemap: (
                width: 16,
                height: 9,
                background: (0.78, 0.78, 0.78, 1.0),
            ),
            layers: (),
        ),
    ],
    entities: [
        (70),
        (71),
        (72),
        (73),
        (74),
        (75),
    ],
    darkness: 0.0,
)