(
    id: (5),
    name: "new",
    current_room_id: None,
    meta: (
        position: (0.0, 0.0),
        sprite_id: None,
    ),
    tags: [],
    overlay: false,
    grid_size: 16.0,
    singleton: (79),
    rooms: [
        (
            id: (6),
            name: "untitled",
            position: (0.0, 0.0),
            size: (16.0, 9.0),
            exits: [],
            adjacent_rooms: [],
            tags: [],
            singleton: (76),
        ),
    ],
)