(
    id: (4),
    name: "new",
    current_room_id: Some((5)),
    meta: (
        position: (0.0, 0.0),
        sprite_id: None,
    ),
    tags: [],
    overlay: false,
    grid_size: 16.0,
    singleton: (72),
    rooms: [
        (
            id: (5),
            name: "untitled",
            position: (0.0, 0.0),
            size: (16.0, 9.0),
            singleton: (73),
            exits: [],
            adjacent_rooms: [],
            tags: [],
        ),
    ],
)
